body {
  font-family: "Raleway", sans-serif;
}

.img-fluid{
  width: 15rem;
  max-width: 100%;
  height: auto;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/prog.jpg");
  text-shadow: 2px 2px 4px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-img-top{
  height: 200px;
  object-fit: cover;
  object-position: top;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
