body {
  font-family: "Raleway", sans-serif;
}

.img-fluid{
  width: 15rem;
  max-width: 100%;
  height: auto;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/prog.jpg");
  text-shadow: 2px 2px 4px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card{
  height: 100%;
  display: flex;
 flex-direction: column;
}

.card-body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-body .btn{
  margin-top: auto;
}
.btn-outline-cv{
  border: 2px solid blueviolet;
  color: white;
}
.btn-outline-cv:hover{
  background-color: blueviolet;
}
.btn-contact{
  background-color: blueviolet;
  color: white;
  border: none;
}

.btn-outline{
  background-color: transparent;
  color: black;
  border: 2px solid blueviolet;
  transition: all 0.3s ease;
}

.btn-outline:hover{
  background-color: blueviolet;
  color: white;
}



/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
